<!DOCTYPE html>
<html lang="en" class="bg-info">
  <head>
    <%-include('./partials/header.ejs') %>
  </head>
  <%-include('./partials/navbar.ejs') %>
  <body>
    
    <div class="container-fluid">
      <h1><%= title %></h1>
      <p> <%= title %></p>
    </div>
    
    
    <script src="./javascripts/common.js"></script>
    
  </body>
</html>
